.hWall {
  margin-top: 0.225rem;
  width: 1.1rem;
  height: 0.5rem;
  background-color: black;
  border: 0;
  z-index: -1;
}

.vWall {
  margin-left: 0.225rem;
  height: 1.1rem;
  width: 0.5rem;
  background-color: black;
  border: 0;
  z-index: -1;
}

.trCornerWall {
  z-index: -1;
  height: 0.25rem;
  width: 0.25rem;
  border: black 0.5rem solid;
  border-top: 0;
  border-right: 0;
  margin-left: 0.25rem;
}
.rdCornerWall {
  z-index: -1;
  height: 0.25rem;
  width: 0.25rem;
  border: black 0.5rem solid;
  border-bottom: 0;
  border-right: 0;
  margin-left: 0.25rem;
  margin-top: 0.25rem;
}

.dlCornerWall {
  z-index: -1;
  height: 0.25rem;
  width: 0.25rem;
  border: black 0.5rem solid;
  border-bottom: 0;
  border-left: 0;
  margin-top: 0.25rem;
}

.ltCornerWall {
  z-index: -1;
  height: 0.25rem;
  width: 0.25rem;
  border: black 0.5rem solid;
  border-top: 0;
  border-left: 0;
}
