.WallX {
  z-index: -1;
}

.WallXMain {
  width: 50%;
  height: 25%;
  margin-left: 25%;
  background-color: black;
  border: 0;
}

.WallXSecondary {
  height: 50%;
  width: 100%;
  background-color: black;
  border: 0;
}

.WallXTertiary {
  width: 50%;
  height: 25%;
  background-color: black;
  margin-left: 25%;
  border: 0;
}
