.Button {
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  border: #540000 2px solid;
  color: #540000;
  font-size: 16px;
  padding: 0;
}

.Button:hover {
  background-color: #540000;
  transition: 0.3s;
  color: white;
}
