body {
  color: #540000;
  /* background-color: #540000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23540000' cx='50' cy='0' r='50'/%3E%3Cg fill='%235d0805' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23671109' cx='50' cy='100' r='50'/%3E%3Cg fill='%23701a0c' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%237a220e' cx='50' cy='200' r='50'/%3E%3Cg fill='%23832a0f' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%238d3211' cx='50' cy='300' r='50'/%3E%3Cg fill='%23963a12' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%239f4313' cx='50' cy='400' r='50'/%3E%3Cg fill='%23a94b13' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b15414' cx='50' cy='500' r='50'/%3E%3Cg fill='%23ba5d15' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c36615' cx='50' cy='600' r='50'/%3E%3Cg fill='%23cb6f15' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d37815' cx='50' cy='700' r='50'/%3E%3Cg fill='%23db8215' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23e38b15' cx='50' cy='800' r='50'/%3E%3Cg fill='%23ea9515' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23f29f16' cx='50' cy='900' r='50'/%3E%3Cg fill='%23f8aa16' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ffb417' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain; */
}

input {
  cursor: pointer;
  border-radius: 4px;
  border: #540000 2px solid;
  color: #540000;
  font-size: 16px;
  padding: 0;
  min-width: 1px;
  max-width: Calc(100% - 4px);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #540000;
}

/* colors I've used:
dark brown: #540000

light orange: #FFB417 






*/
