.Header {
  min-width: 60%;
  top: 0;
  right: 20%;
  left: 20%;
  border: #540000 4px solid;
  position: absolute;
  border-top: 0;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: white;
  z-index: 5;
}

.AppTitle {
  margin: 0;
}

.NavList {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.NavLink {
  margin-left: 12px;
  color: #540000;
}
