.Player {
  align-self: center;
  justify-self: center;
  text-align: center;
  height: 90%;
  width: 90%;
  border: solid 1px black;
  border-radius: 50%;
  margin-left: auto;
  background-color: red;
}

