.GetRidOfMargin {
  position: absolute;
  left: 0;
  width: 100%;
}

.MainSetupSection {
  margin-top: 112px;
  width: 100%;
  display: grid;
  grid-column-start: 1fr, 1fr, 1fr;
  grid-gap: 12px;
  height: Calc(100vh - 116px);
}

.MainSetupSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.SetupSections {
  border: 4px #540000 solid;
  margin: 8px;
  padding: 28px;
  padding-top: 0;
  overflow-y: scroll;
}

.SetupHeader {
  text-align: center;
}
