.WallT {
  z-index: -1;
  width: 100%;
  height: 100%;
}

.noLTWallMain {
  height: 25%;
  width: 50%;
  background-color: black;
  border: 0;
  margin-left: 25%;
}

.noLTWallSecondary {
  height: 50%;
  width: 75%;
  margin-left: 25%;
  background-color: black;
  border: 0;
}

.noLTWallTertiary {
  height: 25%;
  width: 50%;
  background-color: black;
  border: 0;
  margin-left: 25%;
}

.noTTWallMain {
  height: 50%;
  width: 100%;
  background-color: black;
  border: 0;
  margin-top: 25%;
}

.noTTWallSecondary {
  height: 25%;
  width: 50%;
  margin-left: 25%;
  background-color: black;
  margin-top: 0;
  border: 0;
}

.noRTWallMain {
  height: 25%;
  width: 50%;
  background-color: black;
  border: 0;
  margin-left: 25%;
}

.noRTWallSecondary {
  height: 50%;
  width: 75%;
  background-color: black;
  border: 0;
}

.noRTWallTertiary {
  height: 25%;
  width: 50%;
  background-color: black;
  border: 0;
  margin-left: 25%;
}

.noDTWallMain {
  margin-left: 25%;
  width: 50%;
  height: 25%;
  background-color: black;
  border: 0;
}

.noDTWallSecondary {
  width: 100%;
  height: 50%;
  background-color: black;
  border: 0;
}
